/* hero */
.hero {
  min-height: 80vh;
  background: url(bg.jpg) no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  font-family: "Courier New", Courier, monospace;
}
.thanks {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.hero-content {
  width: 450px;
  background: rgba(138, 134, 134, 0.493);
  padding: 10px 30px;
  text-align: center;
}
